#content {
  margin: 0 auto;
  width: 900px;
}
#text {
  font-family: Georgia, sans-serif;
  font-size: 13px;
}
#title {
  font-size: 1000px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}
#byline {
  font-family: Helvetica, sans-serif;
  font-size: 100px;
  font-style: italic;
}
#blockquote {
  font-size: 24px;
  font-family: Helvetica, sans-serif;
  font-style: italic;
  margin-top: 15px;
  margin-bottom: 15px;
  color: red;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 4px solid #ccc;
}
