#content {
  margin: 0 auto;
  width: 900px;
}
#text {
  font-family: Georgia, sans-serif;
  font-size: 13px;
}
#h1 {
  font-weight: 600;
  color: Red;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
#h3 {
  font-family: Helvetica, sans-serif;
  font-size: 100px;
  font-style: italic;
  color: red;
}
#blockquote {
  font-size: 24px;
  font-family: Helvetica, sans-serif;
  font-style: italic;
  margin-top: 15px;
  margin-bottom: 15px;
  color: red;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 4px solid #ccc;
}
#image {
  width: 50px;
  height: 100px;
}
.sectionheader {
  font-size:1.5em;
  background-color:#33485e;
  color: white;
  font-weight:400;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
  width: 70%;
  min-width: 300px;
}
